<settings>
    <category label="Complementos">	
	    <setting label="[COLOR dimgrey]Configurações de Complemento:[/COLOR]" type="lsep"/>
	    <setting label="Verificar Complementos" id="check_addon" type="bool" default="true" />
        <setting label="Baixar e Instalar Elementum" id="elementum" type="bool" default="true" />
	    <setting label="Baixar e Instalar Youtube" id="youtube" type="bool" default="false" />
	     <setting label="[COLOR white]Configurações Gerais:[/COLOR]" type="lsep"/>
         <setting label="Exibir Mensagem de Boas Vindas" id="mensagem1" type="bool" default="true" />	
         <setting label="Exibir Mensagem de Status" id="mensagem2" type="bool" default="true" />
    </category>
	<category label="MENU DE VISUALIZAÇAO">	 
		<setting label="SELECIONE PLAYER TORRENT:" type="lsep" />
		<setting label="___________________________________________________________________________" type="lsep" />
		<setting label="PLAYER TORRENT" id="torrent" type="enum" values="Elementum|Ace Stream(APK)|BitX Torrent Video Player(APK)" default="0" />
		<!--setting id="local_roxplayer" type="file" source="files" label="localize o arquivo 'ROX Player.lnk'" default="" visible="eq(-1,Rox Player)"/-->
		<setting label="___________________________________________________________________________" type="lsep" />
	</category>
</settings>