<settings>
<category label="DESATIVADO(NÃO MEXER)">
	<setting type="lsep"/>
	<setting id="username" type="text" default="" enable=""/>
	<setting id="password" type="text" default="" enable="" option="hidden"/>
	<setting id="dnsvip" type="enum" values="" default="0" />	
	<setting id="saida" type="enum" values="" default="0" />
	<setting id="f4mvip" type="enum" values="" default="1" />
	<setting id="exibirvip" type="bool" default="true" />
	<setting type="lsep"/>
	<setting id="server_number" type="text" enable="false" default=""/>
	<setting id="status_vip" type="text" enable="false" default=""/>
	<setting id="created_at" type="text" enable="false" default=""/>
	<setting id="exp_date" type="text" enable="false" default=""/>
	<setting id="is_trial" type="text" enable="false" default=""/>
	<setting id="max_connection" type="text" enable="false" default=""/>

		<setting type="lsep"/>
		<setting id="proxy" type="bool"  default="false" />
		<setting id="proxy_try" type="enum" values="" default="4" />
		<setting type="bool"/>
		<setting type="bool"/>
		<setting type="bool"/>
		<setting type="bool"/>
		<setting type="bool"/>
		<setting type="bool"/>

		<setting type="lsep"/>
		<setting id="uhdtv" type="bool" default="false" />
		<setting id="fhdtv" type="bool" default="false" />
		<setting id="hdtv" type="bool" default="false" />
		<setting id="sdtv" type="bool" default="false" />
		<setting id="filtrar" type="enum" values="" default="0" />
		<setting id="f4m" type="enum" values="" default="0" />

		<setting type="lsep"/>
		<setting id="adult" type="bool" default="false" />
		<setting id="adult2" type="bool" default="false" />
		<setting id="keyboard" type="enum" values="" default="0" />
		<setting type="action" action="RunScript(plugin.video.AKATSUKIPlay, SetPassword)"/>
		<setting type="bool"/>
</category>
<category label="ATIVAR ELEMEMTUM">
	<setting label="[COLOR lightblue][B]Configurações de Complemento:[/B][/COLOR]" type="lsep"/>
	<setting label="[COLOR white][B]Verificar Complementos[/B][/COLOR]" id="check_addon" type="bool" default="true" />
	<setting label="[COLOR white][B]Baixar e Instalar Elementum[/B][/COLOR]" id="elementum" type="bool" default="false" />
</category>
<category label="OUTROS">
	<setting label="[COLOR lightblue][B]Configurações Gerais:[/B][/COLOR]" type="lsep"/>
	<setting label="[COLOR white][B]Exibir Mensagem de Boas Vindas[/B][/COLOR]" id="mensagem1" type="bool" default="true" />
	<setting label="[COLOR white][B]Exibir Mensagem de Status[/B][/COLOR]" id="mensagem2" type="bool" default="true" />
	<setting label="[COLOR white][B]Exibir Favoritos[/B][/COLOR]" id="favoritos" type="bool" default="false" />
    <setting label="[COLOR white][B]Entre aqui para limpar os favoritos[/B][/COLOR]" type="action" action="RunScript(plugin.video.AKATSUKIPlay, limparFavoritos)"/>
	<setting label="[COLOR white][B]Executar Youtube[/B][/COLOR]" id="ytbmode" type="enum" values="Interno 1|Interno 2|Externo" default="1" />
    <setting label="[COLOR white][B]Use Miniaturas como Fanart[/B][/COLOR]" id="use_thumb" type="bool" default="false" />
</category>
</settings>
