<settings>
<category label="Canais">
		<setting label="[COLOR lightblue]Configurações dos Canais:[/COLOR]" type="lsep"/>
		<setting label="Exibir Canais 4K (Lista M3U)" id="uhdtv" type="bool" default="true" />
		<setting label="Exibir Canais FHD (Lista M3U)" id="fhdtv" type="bool" default="true" />
		<setting label="Exibir Canais HD (Lista M3U)" id="hdtv" type="bool" default="true" />
		<setting label="Exibir Canais SD (Lista M3U)" id="sdtv" type="bool" default="true" />
		<setting label="(Lista M3U) Exibir Apenas Canais de" id="filtrar" type="enum" values="Desativado|Futebol|Esportes|Filmes e Series|Infantil|Documentario|Aberto|Reality show|Noticias" default="0" />
</category>
<category label="Controle dos Pais">
		<setting label="[COLOR lightblue]Controle dos Pais:[/COLOR]" type="lsep"/>
		<setting label="Exibir Menu Adultos" id="adult" type="bool" default="false" />
		<setting label="Exibir Canais Adultos (Lista M3U)" id="adult2" type="bool" default="false" />
		<setting label="Tipo de Teclado (OK para trocar)" id="keyboard" type="enum" values="Númerico|Alfanúmerico" default="0" />
		<setting label="Entre aqui para alterar senha" type="action" action="RunScript(plugin.video.testando2.matrix, SetPassword)"/>
		<setting label="[COLOR yellow][B]Senha padrão 0069[/B][/COLOR]" type="bool"/>
</category>
</settings>
