<settings>
<category label="Canais">
		<setting label="[COLOR lightblue]Configurações dos Canais:[/COLOR]" type="lsep"/>
		<setting label="Exibir Canais 4K (Lista M3U)" id="uhdtv" type="bool" default="true" />
		<setting label="Exibir Canais FHD (Lista M3U)" id="fhdtv" type="bool" default="true" />
		<setting label="Exibir Canais HD (Lista M3U)" id="hdtv" type="bool" default="true" />
		<setting label="Exibir Canais SD (Lista M3U)" id="sdtv" type="bool" default="true" />
</category>
</settings>
