<settings>
<category label="EPG">
	<setting label="[COLOR lightblue]EPG:[/COLOR]" type="lsep"/>
	<setting label="Exibir EPG (Guia de Canais)" id="exibirepg" type="bool" default="false" />
</category>
<category label="Controle dos Pais">
		<setting label="[COLOR lightblue]Controle dos Pais:[/COLOR]" type="lsep"/>
		<setting label="Exibir Menu Adultos" id="adult" type="bool" default="false" />
		<setting label="Entre aqui para alterar senha, padrão: [COLOR yellow][B]0069[/B][/COLOR]" type="action" action="RunPlugin(plugin://plugin.video.OnePlay?action=setpassword)"/>
</category>
</settings>
